name: maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
  
      runs-on: ubuntu-latest
  
      steps:
      
      - name: Configure SSH
        uses: appleboy/ssh-action@master
        with:
          host: 187.60.56.72
          username: Administrator
          password: UCTech2023*
          script: |
            start /b for /f "tokens=5" %a in ('netstat -ano ^| findstr :4050') do taskkill /f /pid %a

