name: maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  kill-process:
  
      runs-on: ubuntu-latest
  
      steps:
      
      - name: Configure SSH
        uses: appleboy/ssh-action@master
        with:
          host: 187.60.56.72
          username: Administrator
          password: UCTech2023*
          script: |
            for /f "tokens=5" %a in ('netstat -ano ^| findstr :5088') do taskkill /f /pid %a
        continue-on-error: true

  clone:
  
      runs-on: ubuntu-latest
  
      steps:
      
      - name: Configure SSH
        uses: appleboy/ssh-action@master
        with:
          host: 187.60.56.72
          username: Administrator
          password: UCTech2023*
          script: |
            cd aplicacoes && git clone -b developer https://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@github.com/uctbr/imovpago-back-end.git
